<Files .htaccess>
order allow,deny
deny from all
</Files>

<Files ~ "/config/>
order allow,deny
deny from all
</Files>

<Files ~ "/classes/>
order allow,deny
deny from all
</Files>

<Files ~ "/security_log/>
order allow,deny
deny from all
</Files>

<Files ~ "/error_log/>
order allow,deny
deny from all
</Files>

Options -Indexes